<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.harta">

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBVqbeY59lJ8h2zHNUIebKdvHmy3EdW6Ic" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".PermissionsRequest"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <service android:name=".ExampleService" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RehabExercises.RehabShoulderAdvance" />
        <activity android:name=".RehabExercises.RehabShoulderIntermediate" />
        <activity android:name=".RehabExercises.RehabLegAdvance" />
        <activity android:name=".RehabExercises.RehabLegIntermediate" />
        <activity android:name=".RehabExercises.RehabCoreAdvance" />
        <activity android:name=".RehabExercises.RehabCoreIntermediate" />
        <activity android:name=".RehabExercises.RehabBalanceAdvance" />
        <activity android:name=".RehabExercises.RehabBalanceIntermediate" />
        <activity android:name=".RehabExercises.RehabShoulderBasic" />
        <activity android:name=".RehabExercises.RehabLegBasic" />
        <activity android:name=".RehabExercises.RehabCoreBasic" />
        <activity android:name=".RehabExercises.RehabBalanceBasic" />
        <activity android:name=".RehabExercises.RehabArmAdvance" />
        <activity android:name=".RehabExercises.RehabArmIntermediate" />
        <activity android:name=".RehabExercises.RehabArmBasic" />
        <activity android:name=".RehabExercises.RehabShoulder" />
        <activity android:name=".RehabExercises.RehabLeg" />
        <activity android:name=".RehabExercises.RehabHand" />
        <activity android:name=".RehabExercises.RehabCore" />
        <activity android:name=".RehabExercises.RehabBalance" />
        <activity android:name=".RehabExercises.RehabArm" />
        <activity android:name=".RehabExercises.RehabSensoryReEd" />
    </application>

</manifest>